.about-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.profile-title {
    padding: 5%;
    font-size: 70px;
    margin-left: -35px;

}

.title-container {
    margin-right: 400%;
}

.profile-img {
    height: 370px;
    width: 280px;
    margin-top: 3%;
}

.col {
    padding: 4%;
}