.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3%;
    margin-top: 8%;
}

.link-info {
    font-size: 60px;
    margin-left: 10%;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
}