.card-port {
    margin-top: 5%;
    margin-bottom: 7%;
    margin-right: 17%;
    margin-left: 17%;
    background-color: rgb(246, 244, 244);
    padding: 2%;
    border-radius: 8px;
}

.port-title {
    font-size: 28px;
    color:rgb(0, 195, 255);
    padding: 2%;
    margin-top: 3.5%;
}

.port-text {
    font-style: italic;
}

.card-link-port {
   font-size: 40px; 
   padding-left: 3%;
   color: black;
}

.card-link-port:hover {
    color: rgb(0, 195, 255);
}

.card-img-top {
    border-radius: 8px;
}